{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Akaun Tidak Aktif" %}{% endblock %}

{% block content %}
<h1>{% trans "Akaun Tidak Aktif" %}</h1>

<p>{% trans "akaun ini tidak aktif." %}</p>
{% endblock %}
