{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Akaun" %}{% endblock %}

{% block content %}
    <h1>{% trans "Alamat E-mail" %}</h1>
{% if user.emailaddress_set.all %}
<p>{% trans 'Alamat e-mel berikut dikaitkan dengan akaun anda:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Disahkan" %}</span>
    {% else %}
    <span class="unverified">{% trans "Tidak dapat disahkan" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Utama" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction" type="submit" name="action_primary" >{% trans 'Jadikan Master' %}</button>
      <button class="secondaryAction" type="submit" name="action_send" >{% trans 'Menghantar semula pengesahan' %}</button>
      <button class="primaryAction" type="submit" name="action_remove" >{% trans 'Buang' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Amaran:'%}</strong> {% trans "Pada masa ini anda tidak mempunyai sebarang alamat e-mel yang disediakan. Anda harus betul menambah alamat e-mel supaya anda boleh menerima pemberitahuan, menetapkan semula kata laluan anda." %}</p>

{% endif %}


    <h2>{% trans "Add E-mail Address" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
