{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sahkan Alamat Emel" %}{% endblock %}


{% block content %}
<h1>{% trans "Sahkan Alamat Emel" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Sila sahkannya <a href="mailto:{{ email }}">{{ email }}</a> adalah alamat e-mel untuk pengguna {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Sahkan' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Pautan pengesahan e-mel telah habis tempoh atau tidak sah. Tolong <a href="{{ email_url }}">mengeluarkan permintaan pengesahan e-mel baru</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
