{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log masuk" %}{% endblock %}

{% block content %}
<div class="col-5 mx-auto">
<div class="bg-white rounded py-3 px-5">
<h1>{% trans "Log masuk" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Sila log masuk dengan satu
daripada akaun pihak ketiga anda yang sedia ada. Atau, <a href="{{ signup_url }}">Mendaftar</a>
for a {{ site_name }} akaun dan log masuk di bawah:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="log masuk" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}jika anda belum membuat akaun lagi, maka sila
<a href="{{ signup_url }}">mendaftar</a> dulu.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Lupa Katalaluan?" %}</a>
  <button class="btn btn-primary" type="submit">{% trans "Log Masuk" %}</button>
</form>
</div>
</div>
{% endblock %}
