{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col-5 mx-auto">
<div class="bg-white rounded py-3 px-5">
<h1>{% trans "Log Keluar" %}</h1>

<p>{% trans 'Anda pasti untuk log keluar ?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'Log Keluar' %}</button>
</form>

</div>
</div>
{% endblock %}
