{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Tukar katalaluan" %}{% endblock %}

{% block content %}
    <h1>{% trans "Tukar Katalaluan" %}</h1>
    <p>{% trans 'Kata laluan anda kini ditukar.' %}</p>
{% endblock %}
