{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset Katalaluan" %}{% endblock %}

{% block content %}

    <h1>{% trans "Reset Katalaluan" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "lupa kata laluan? Masukkan alamat e-mel anda di bawah, dan kami akan menghantar e-mel yang membolehkan anda menetapkannya semula." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset Katalaluan' %}" />
    </form>

    <p>{% blocktrans %}Sila hubungi kami jika anda menghadapi masalah untuk menetapkan semula kata laluan anda.{% endblocktrans %}</p>
{% endblock %}
