{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset Katalaluan" %}{% endblock %}

{% block content %}
    <h1>{% trans "Reset Katalaluan" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Kami telah menghantar e-mel kepada anda. Sila hubungi kami jika anda tidak menerimanya dalam masa beberapa minit.{% endblocktrans %}</p>
{% endblock %}
