{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Tukar Katalaluan" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Tukar Katalaluan" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Pautan semula kata laluan tidak sah, mungkin kerana ia telah digunakan. Sila meminta <a href="{{ passwd_reset_url }}">reset kata laluan baru</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Kata laluan anda kini ditukar.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
