{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Daftar Ditutup" %}{% endblock %}

{% block content %}
<h1>{% trans "Daftar Ditutup" %}</h1>

<p>{% trans "Kami minta maaf, tetapi pendaftaran sedang ditutup." %}</p>
{% endblock %}
