{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Pendaftaran" %}{% endblock %}

{% block content %}
<div class="col-5 mx-auto">
<div class="bg-white rounded py-3 px-5">
<h1>{% trans "Pendaftaran" %}</h1>

<p>{% blocktrans %}Sudah mempunyai akaun? Kemudian sila <a href="{{ login_url }}">log masuk</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Daftar" %} &raquo;</button>
</form>

</div>
</div>

{% endblock %}
