{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}Kami telah menghantar e-mel kepada anda untuk pengesahan. Ikut pautan yang disediakan untuk memuktamadkan proses pendaftaran. Sila hubungi kami jika anda tidak menerimanya dalam masa beberapa minit.{% endblocktrans %}</p>

{% endblock %}
