{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Mengesahkan alamat e-mel anda" %}{% endblock %}

{% block content %}
<h1>{% trans "Mengesahkan alamat e-mel anda" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Bahagian ini memerlukan kami untuk mengesahkannya
anda adalah orang yang anda mendakwa. Untuk tujuan ini, kami memerlukan anda
sahkan pemilikan alamat e-mel anda. {% endblocktrans %}</p>

<p>{% blocktrans %}Kami telah menghantar e-mel kepada anda untuk
pengesahan. Sila klik pada pautan di dalam e-mel ini. Tolong
hubungi kami jika anda tidak menerimanya dalam masa beberapa minit.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> anda masih boleh <a href="{{ email_url }}">ubah alamat e-mel anda</a>.{% endblocktrans %}</p>


{% endblock %}
