{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Utama {% endblock title %}

{% block content %}
<div class="col-6 mx-auto p-5">
    <div class="text-center text-white h1 mb-5">e-PKB</div>
        {% if request.user.is_authenticated %}
            <form action="" method="POST" class="form-control">
                <div class="text-muted h5 mb-2">Buat Pilihan Dibawah</div>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="prod_line" id="prod_line">
                <button type="submit" class="btn btn-primary">Hantar</button>
            </form>
        {% else %}
            <div class="text-white text-center h3">Log Masuk Untuk Mula</div>
</div>

{% endif %}

<script>
$('#div_id_dapatkan_laporan').on("change", function() {
    const pl = $('#id_dapatkan_laporan option:selected').text()
    console.log(pl)
    $('#prod_line').val(pl)
});

</script>

{% endblock content %}
