{% load static %}
<html>
<head>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ve35{border-color:#c0c0c0;text-align:left;vertical-align:middle}
.tg .tg-wo29{border-color:#c0c0c0;text-align:left;vertical-align:top}
</style>
</head>

  <address><p>
    <p>KEMENTERIAN PENDIDIKAN MALAYSIA</p>
    <p>Pejabat Pendidikan daerah klang</p>
    <p>jalan Meru</p>
    <p>41050 Klang</p>
    <p>Selangor darul Ehsan</p>
  </p>
  <hr>
<p style="text-align:right;"</p>
Ruj Tuan  : <br>
Ruj Kami  : <b>PPD.ICT100-8/4()<br></b>
Tarikh    :{% for p in problems  %}
{{ p.created }}

</p>
<address>
<p>Pengetua/Guru Besar</p>
<p>Sekolah-sekolah Daerah klang</p>
<p>(Nama seperti lampiran)</p>
</address></p>
Tuan,

<article id="columns">
  <h3 id="columns-title">{{ p.kategori }}</h3>

<p>Dengan segala hormatnya saya merujuk kepada perkara di atas.
2.  Adalah dimaklumkan bahawa sekolah terlibat akan mengadakan Bengkel Khidmat Bantu(ICT) <b>( {{ p.problem_id}} )</b> pada ketetapan seperti berikut:
</p>
<p>Tarikh  : {{ p.created }}</p>
<p>Masa    : 8 Pagi - 5 Petang</p>
<p>Tempat  :</p>
<p>Peserta : Juruteknik Komputer / Pegawai Teknologi Maklumat</p>

<p>3.  Sehubungan dengan itu, mohon kerjasama pihak tuan untuk memaklumkan kepada Juruteknik Komputer / Penolong Pegawai Teknologi Maklumat Sekolah tuan menghadiri bengkel tersebut. Sebarang pertanyaan boleh berhubung dengan Mohd Fauzi bin Al-Kamal/Norsairi bin Ahmad Shahabudin/Latifah binti Noerfajar, melalui talian 03-3376 2879.
Segala kerjasama, perhatian dan sokongan yang tuan berikan dalam menjayakan bengkel ini didahului dengan ucapan ribuan terima kasih.
Sekian, terima kasih</p>
<b>"BERKHIDMAT UNTUK NEGARA"</b><br>
<br>
Sekian Terima Kasih.
</br>
Tandatangan tidak diperlukan, cetakan komputer

<br>
<br>
<br>
<br>

{% endfor %}

</html>
