{% extends 'base.html' %}
{% load oknok %}
{% load substract %}

{% block title %}rumusan{% endblock title %}

{% block content %}
<div class="container bg-white py-2 rounded">
    <div class="col-12">
        <div class="text-muted h2">
            <i class="fas fa-tachometer-alt mr-3"></i>Keputusan
        </div>
    </div>
    <div class="col">
        Analisis pada: <strong>{{ hari }} - {{ line }}</strong>
    </div>
    <br>
    <table class="table table-sm text-center">
        <thead>
            <tr>
                <th scope="col">Perbezaan</th>
                <th scope="col">OK ?</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    <br>
    <h3>Isu - isu {masalah}</h3>
    <hr>
    {% for problem in problems_reported %}
    <small class="text-muted">{{ problem.problem_id }}</small><br>
    {{ problem.kategori }}<br>
    {{ problem.penerangan }}<br>
    {{ problem.breakdown}} min<br>

    <hr>
    {% endfor %}
</div>

{% endblock content %}
