{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}kemaskini{% endblock title %}

{% block content %}

<div class="col-9 mx-auto">
    <div class="card p-4">
        <div class="text-muted mb-2 h4"> Buat Pilihan: {{ object.dapatkan_laporan }} </div>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Kemaskini</button>
        </form>
    </div>
</div>


{% endblock content %}
