{% extends "openid/base.html" %}

{% load i18n %}

{% block head_title %}Pendaftaran OpenID{% endblock %}

{% block content %}

<h1>{% trans 'Pendaftaran OpenID' %}</h1>


<form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Log masuk</button>
</form>

{% endblock %}
