{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p><strong>{% trans "Note" %}:</strong> {% blocktrans %}anda sudah log masuk sebagai {{ user_display }}.{% endblocktrans %}</p>
