{% load static %}
<footer>
    <div class="col-12">
        <div class="row">
            <div class="col-8 p-5">
                Sistem ini dibangunkan untuk kegunaan sekolah bagi pemohonan Khidmat Bantu ICT berfokuskan kepada isu teknikal dan pembangunan Insfrastruktur ICT                
            </div>

            <div class="col-4 p-5">
                <div class="container h1 text-right">
                    <i class="fab fa-youtube ml-2"></i>

                </div>
                <div>
                    <img src='{% static 'award.png' %}' height=90 width='auto'>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white text-center p-2"><p>&copy; 2020 <p></div>
</footer>
