{% extends 'base.html' %}

{% block title %}buang catatan ini?{% endblock title %}

{% block content %}
<div class='col-9 mx-auto'>
    <div class='card p-4'>
        <form method="POST">
        {% csrf_token %}
            <p>Adakah anda mahu memadam ini "{{ object }}"?</p>
            <button type="submit" class="btn btn-primary">Sahkan untuk padam</button>
        </form>
    </div>
</div>
{% endblock content %}
